<footer class="container-fluid">
  <div>
    <div class="row justify-content-center">
      <div class="col-lg-4 bg-light">
        <div class="container">
          <div class="w-100">
            <h3>Hướng dẫn di chuyển</h3>
            <p>
              "Khu nghỉ dưỡng Furama là cơ sở hàng đầu để khám phá một trong những điểm đến hấp dẫn nhất
              Châu
              Á.
              Chỉ cách Đà Nẵng một quãng lái xe ngắn là bốn Di sản Văn hóa Thế giới được UNESCO công
              nhận:"
            </p>
          </div>
          <table class="w-100">
            <tbody>
            <tr>
              <td>1.</td>
              <td>Cố đô Huế:</td>
              <td style="float: right">2 tiếng</td>
            </tr>
            <tr>
              <td>2.</td>
              <td>Phố cổ Hội An:</td>
              <td style="float: right">30 phút</td>
            </tr>
            <tr>
              <td>3.</td>
              <td>Thánh địa Mỹ Sơn:</td>
              <td style="float: right">90 phút</td>
            </tr>
            <tr>
              <td>4.</td>
              <td>Động Phong Nha:</td>
              <td style="float: right">3 tiếng</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-7 bg-light footer">
        <div class="row contact">
          <h4>Contact Us</h4>
          <ul>
            <li>
              <span>103 - 105 Võ Nguyên Giáp, Phường Khuê Mỹ, Quận Ngũ Hành Sơn, TP. Đà Nẵng, Việt Nam</span>
              <br>
              <span>Tel.: 84-236-3847 333/888*</span>
              <span>Fax: 84-236-3847 666</span>
              <br>
              <span>Email: reservation@furamavietnam.com</span>
              <span>&nbsp;*&nbsp;</span>
              <span>www.furamavietnam.com</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
